.predictionHome{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(229, 244, 255, 0.44) 100%);
    margin: 0px 40px;
    display: flex;
    gap: 100px;
    padding:0px 120px;
    align-items: center;
    justify-content: space-between;
}

.predictionHomeLeft{
    flex-basis: 45%;
}
.predictionHomeLeftTop{
    display: flex;
    flex-direction: column;
}

.predictionHomeLeftTop>h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    
    color: #3C4852;
    margin-top: 40px;
    margin-bottom: 24px;
}
.predictionHomeLeftTag{
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}
.predictionHomeLeftTag>div{
    border: 1.2px solid #3c4852;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;



}
.predictionHomeLeftTag>p{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #3c4852;


}

.predictionHomeRight{
background-color: white;
box-shadow: 0px 16px 32px rgba(233, 238, 242, 0.5);
padding: 48px;
flex-basis: 45%;

}
.predictionHomeRight>h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #3C4852;

}
.predictionHomeRight>p{
    font-size: 12px;
    font-weight: 400;
    word-break: break-word;
    line-height: 14px;
    color: #3c4852;
    margin-bottom: 12px;
}
.predictButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: rgb(60,72,82);
    width: fit-content;
    cursor: pointer;
    
}
.predictButton:hover{
    /* rgba(233, 238, 242, 0.4)
     */
     box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
     transform: translate(0px, -2px);
     transition: all 0.3s ease-in-out;

}
.predictButton>p{
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 0.29px;
    color: white;
}
.predictionHomeCustomInputs{
    margin: 20px 0px;
}
.predictCustomInput>p:nth-child(1){
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 12px;
    color: #3c4852;

}
.predictCustomInput>.error{
    font-size: 12px;
    /* font-weight: 600; */
    line-height: 18px;
    /* margin-top: 8px; */
    color: rgb(235,87,87);
    /* margin-bottom: 24px; */
    

}
.predictCustomInput>input{
    outline: none;
    border: 1px solid #E9EEF2;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px 24px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 19px;

}

.predictCustomInput>input::placeholder{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.155px;
    color:#7a8b94

}


@media screen and (max-width:500px) {
    .predictionHomeLeftTop{
        flex-direction: row-reverse;
        align-items: center;
    }
    .predictionHomeLeft{
        width: 100%;
        padding: 0px 20px;

        background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(229, 244, 255, 0.44) 100%)
    }
    .predictionHomeLeftTop>h1{
        font-size: 32px;
        line-height: 38px;
        margin:0px ;
        
    }
    .predictionHome{
        flex-direction: column;
        /* margin: 0px 20px; */
        margin: 0px;
        padding: 0px;
        background: none;
        gap: 0px;
    }
    .predictionHomeLeftTag{
        align-items: center;
    }
    .predictionHomeRight{
        /* padding: 0px 20px; */
        box-shadow: none;
        padding: 0px 20px;
        margin: 30px 0px;
        width: 100%;
    }
    .predictionHomeRight>h1{
        font-size: 22px;
        line-height: 26px;
    }
    .predictionHomeRight>h1>.br{
        display: none;
    }
    .predictCustomInput>p:nth-child(1){
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 4PX;
    }
    .predictionHomeCustomInputs{
        margin: 24px 0px;
    }
 
    .predictCustomInput>input{
        margin-bottom: 12px;
    }
    .predictButton{
        width: 100%;
    }
    .predictButton:hover{
        transform: none;
        box-shadow: none;
        transition: none;
    }
    
}