.pSectionTwo{
    margin: 0px 40px;
    padding: 0px 200px;
}
.pSectionTwo>h1{
    font-size: 32px;
    letter-spacing: -0.64px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 20px;
}
.question{
    padding:10px 24px;
    border-radius: 16px;
    background-color: rgb(238,242,247);
    transition: all 1s ease;
    margin-bottom: 10px;


}
.question>p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    font-weight: 400;
    width: 90%;
}
.question>div:nth-child(1){
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
   

}
.question>div:nth-child(1)>p:nth-child(1){
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    

}
.question>div:nth-child(1)>p:nth-child(2){
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    cursor: pointer;
    transition: transform  1s ease;
    /* transform: rotateZ('45deg'); */
}

@media screen and (max-width:500px) {
    .pSectionTwo{
        margin: 0px 20px;
        padding: 0px;
        margin-bottom: 30px;
    }
    .question{
        padding: 20px;
    }

    
}
