@font-face {
  font-family: myFirstFont;
  src: url('./Assets/Images/fonts.ttf');
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   color: #160647;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: myFirstFont;
  overflow: none;
}
:root{
  --mathonga-primary-color:#12263f; 
   --mathonga-secondary-color:#1e3a5c;
  /* --mathonga-primary-color:#47beb9;
 --mathonga-secondary-color:#caf7f4; */
  --mathonga-select-color:#152e4d;


  /* 1e3a5c */
}