.heroImageButton{
    background-color: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    border:  2px solid #DEF7F0;
    border-radius: 100px;
    transition: border-color .2s,background-color .2s;
    padding: 8px;
    /* margin: 20px 0px; */
    gap: 10px;
    width: 45%;
    margin: auto;
    padding-right: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    /* justify-content: space-between; */


}
.heroImageButton:hover{
    background-color: rgba(255,255,255,0.8);
    transition: all 200ms ease;
}
.iconHero{
    height: 70px;
    width: 70px;
    border: 1px solid #def7f0;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.heroImageButton>div:nth-child(2){
    flex-grow: 1;
}

.heroImageButton>div:nth-child(2)>p:nth-child(1){
    font-size: 10px;
    color: #99a8a8;
    /* line-height: 1; */
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: left;
   

}
.heroImageButton>div:nth-child(2)>p:nth-child(2){
    font-size: 20px;
    font-weight: 700;
    /* line-height: 1.2; */
    letter-spacing: -0.02em;
    
}

@media screen and (max-width:500px) {
    .heroImageButton{
        width: 100%;
    }
    .heroImageButton>div:nth-child(2)>p:nth-child(1){
        display: none;
    }
    .heroImageButton>div:nth-child(2)>p:nth-child(2){
        line-height: 24px;
        letter-spacing: -0.39px;
    }
    .heroImageButtonArrow{
        display: none;
    }
    .iconHero{
        height: 54px;
        width: 54px;
        padding: 20px;
    }
    
}